html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: 50px auto;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-weight: lighter;
    font-size: 70px;
}

button.accordion {
    background: #dd1c1a;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    padding: 18px;
    width: 70%;
    text-align: left;
    font-size: 18px;
    transition: .4s;
}

button:focus {
    outline: none;
}

button.accordion.active, button.accordion:hover {
    background: #9b0a07;
}

div.panel {
    padding: 0 18px;
    color: #000;
    max-height: 0;
    overflow: hidden;
    width: 67.45%;
    margin: 0 auto;
    transition: max-height .2s ease-out;
}

div.panel p {
    text-align: left;
}