body{
    background: whitesmoke;
}
.computer{
    position: absolute;
    margin-left: 40%;
    top:20%;
}
.screen{
    margin-left: 45%;
    top:20%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(53,53,53,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(53,53,53,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(53,53,53,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(53,53,53,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(53,53,53,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(53,53,53,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    box-shadow:0px -100px 500px 80px rgba(255,255,255,0.2),
    0px -130px 800px 30px rgba(255,140,30,0.1),
    0px 17px 27px rgba(0,0,0,0.7),
    0px 4px 3px rgba(0,0,0,0.8),
    -2px -2px 2px rgba(0,0,0,0.5);

    width: 180px;
    height: 140px;
    position:absolute;
    border: 25px solid #b7b0a0;
    border-radius: 3px;
}
.screen::after{
    position: absolute;
    content: "-";
    top: 135px;
    z-index: 99;
    font-size: 1.5em;
    left: 170px;
    color:rgba(32, 32, 32, 0.7);
}
.cpu{
    position: absolute;
    width: 220px;
    margin-left: 5px;
    top:200px;
    height: 60px;
    background: #b7b0a0;
    box-shadow:
            inset 0px -3px 10px rgba(55,45,35,0.6),
            inset 0px -1px 1px rgba(255,255,255,0.4),
            0px 17px 27px rgba(0,0,0,0.7),
            -2px -2px 2px rgba(0,0,0,0.5),
            inset -1px 0px 2px rgba(0,0,0,0.4);
}
.cpu::after{
    position: absolute;
    content: "_";
    top: -90px;
    z-index: 99;
    font-size: 6em;
    left: 140px;
    color:#030301;
}
.cpu::before{
    position: absolute;
    content: "---------------------------------------------------------";
    top: 5px;
    letter-spacing: -2px;
    z-index: 99;
    font-size: 1em;
    color:#030301;
}
.mouse{
    position: absolute;
    width: 40px;
    height: 20px;
    border-radius: 100px / 50px;
    margin-left: 250px;
    top:260px;
    border-bottom: 10px solid #b7b0a0;
    background: #b7b0a0;
    box-shadow:
            inset 0px -3px 10px rgba(55,45,35,0.6),
            inset 0px -1px 1px rgba(255,255,255,0.4),
            0px 17px 27px rgba(0,0,0,0.7),
            -2px -2px 2px rgba(0,0,0,0.5),
            inset -1px 0px 2px rgba(0,0,0,0.4);
}
.mouse::after{
    position: absolute;
    content: "_";
    top: -50px;
    left: -30px;
    z-index: -99;
    font-size: 3.5em;
    color:#76716d;
}
.keyboard{
    position: absolute;
    width: 240px;
    margin-left:-4px;
    top: 270px;
    height: 20px;
    background: #b7b0a0;
    box-shadow:
            inset 0px -3px 10px rgba(55,45,35,0.6),
            inset 0px -1px 1px rgba(255,255,255,0.4),
            0px 17px 27px rgba(0,0,0,0.7),
            -2px -2px 2px rgba(0,0,0,0.5),
            inset -1px 0px 2px rgba(0,0,0,0.4);
}